<div class="card">
  <form [formGroup]="userForm">
    <div class="mt-5 box">
     <div class="form-row">
      <div class = "col-md-12">

        <div class ="form-group mt-4">
          <label>Type de réclamation</label>
        </div>
        <div class ="form-row " style="margin-top: 10px;">
          <div class="col">
            <input type="text" formControlName="typeReclamations" class="form-control" placeholder="Suggestion ou Réclamation" >
          </div>
        </div>

          <div class ="form-group mt-4">
          <label>discription</label>
        </div>
        <div class ="form-row " style="margin-top: 10px;">
          <div class="col">
            <input type="text" formControlName="description" class="form-control" >
          </div>
        </div>

          <div class ="form-group mt-4">
            <label>Titre</label>
          </div>
        <div class ="form-row" style="margin-top: 10px;">
          <div class="col">
            <input type="text" formControlName="titre" class="form-control" placeholder="Titre" >
          </div>
        </div>
       </div>
     </div>
    </div>
      
    
    <div class="form-row mt-4">
      <div class="col-6">
        <button type="button" class="btn btn-primary" (click)= "addItem()"> Ajouter </button>  &nbsp;
      </div>
   
    </div>
  </form>
  <div class="col-md-8 mt -4 mb-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width:70px;" >Type de Réclamation</th>
          <th style="width:70px;">Description</th>
          <th style="width:70px;">Titre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let item of listData">
          <td style="width:100px;"><span>{{item.typeReclamations}}</span></td> 
          <td style="width:100px;"><span>{{item.description}}</span></td>
          <td style="width:100px;"><span>{{item.titre}}</span></td> 
          
          <td><button type="button" class="btn btn-primary" (click)= "removeItem(item)"> Supprimer </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

